// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
@import "ionic.globals";
// @import "ionic.app.css";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.

//$text-color:  rgb(252, 250, 250);
$text-color:  black;
$background-color: #D50000;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:  #D50000,
  secondary: #5b5ef4,
  danger: #f53d3d,
  light: #75C4FD,
  dark: #0039a2,
  hitam:black,
  lifeColor: #29293d,
  hitamLegam: #101011,
  putih: rgb(252, 250, 250),
  rfi: rgb(9, 253, 50),
  release:rgb(240, 205, 10),
  notrelease:rgb(243, 9, 9),
);

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";
